/* Used for Account Info Page*/
.user-data{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.user-data h2 {
  margin: 0;
  color: rgb(235, 231, 8);
}

.user-data p {
  margin: 6px 0;
}

.user-data img{
  width: 100px; 
  height: 100px;
  border-radius: 50%; 
  object-fit: cover; 
  margin-top: 10px;
}

.logout-button{
  border-radius: 8px;
  color: white;
  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
  background-color: #747171;
  cursor: pointer;
  transition: border-color 0.25s;
  padding: 0.5rem 0.5rem;
  font-size: 0.75rem;
  position: absolute;
  right: 10px; 
  display: flex;
  align-items: center; 
}

.logout-button:hover {
  background-color:red;
  border-color: #646cff;
}

/* Used for top artists/tracks */
.results-list {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.result-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  width: 200px; 
  box-sizing: border-box;
  flex-shrink: 0; 
}

.result-image {
  width: 100%;
  border-radius: 8px;
}

.filters {
  margin-bottom: 20px; 
  display: flex;
  gap: 10px; 
}

.filter-input {
  width: 150px; 
  height: 30px;  
  padding: 6px;
  font-size: 0.75rem;
  box-sizing: border-box;
}

/* Used for playlist generator*/
.playlist-list {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  gap: 20px;
  justify-content: center; 
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

.playlist-track-card {
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  max-width: 400px; 
  min-width: 300px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.playlist-track-card:hover {
  transform: translateY(-5px);
}

.track-info {
  display: flex;
  width: 100%;
}

.playlist-track-card:hover {
  transform: translateY(-5px);
}

.playlist-album-image {
  width: 100px; 
  height: 100px;
  border-radius: 8px;
  margin-right: 20px;
}

.playlist-info {
  align-items: flex-start;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.playlist-info h3 {
  margin: 0 0 5px 0;
  font-size: 1.1rem;
}

.playlist-info p {
  margin: 5px 0;
  font-size: 0.9rem;
}

.playlist-info a {
  display: inline-block;
  margin-top: 10px;
  color: #1d41b9; 
  text-decoration: none;
  font-weight: bold;
}

.playlist-params  {
  padding-left: 1%; 
  padding-right: 1%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap; 
  gap: 30px; 
}

.playlist-params label:nth-of-type(4) {
  margin-left: auto;
  margin-right: auto;
}

.playlist-params label {
  display: flex;
  flex-direction: column;
  width: calc(33.33% - 20px);
}

.playlist-params input,select {
  margin-bottom: 10px; 
  padding: 8px;
}

.remove-track-button {
  background: transparent;
  padding: 5px 10px;
  color: red;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: auto;

}

.remove-track-button:hover {
  background-color: gray;
  border-color: red;
  color: red;
}

.song-list, .artist-list, .genre-list {
  width: 100%;
}

.song-item, .artist-item, .genre-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.song-item span, .artist-item span, .genre-item span {
  flex-grow: 1;
}

.song-item button, .artist-item button, .genre-item button {
  margin-left: 10px;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  color:red;
  margin-top: 2%;
  border-color: red;
}

.playlist-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-playlist-button{
  margin-top: 3%;
  margin-bottom: 2%;
}

#generate-playlist {
  margin-top: 20px;
}