:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  color: white;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #747171;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color:#1DB954;
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.container { 
  max-width: none;
  width: 100%;
  min-height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Header at the top of the page */
.header {
  background-color:hsl(168, 79%, 7%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Auth button positioned at the top-right corner */
.top-right-button {  
  padding: 0.8rem 1rem; /* Adjust button size as needed */
  font-size: 1rem; /* Adjust font size relative to the viewport */
}


/* Auth button positioned at the top-right corner */
.home-button {
  position: absolute; /* Positions this container independently */
  left: 20px; /* Adjusts how far from the right edge the content is */
  display: flex;
  align-items: center; /* Centers image and button vertically */
  padding: 0.8rem 1rem; /* Adjust button size as needed */
  font-size: 1rem; /* Adjust font size relative to the viewport */
}

.header-right {
  position: absolute; /* Positions this container independently */
  right: 20px; /* Adjusts how far from the right edge the content is */
  display: flex;
  align-items: center; /* Centers image and button vertically */
}

.account-icon {
  width: 40px; /* Set a fixed size for the profile image */
  height: 40px; /* Ensure the profile image is square */
  border-radius: 50%; /* Makes the image circular */
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.account-info {
  display: flex;
  
  align-items: center; /* Vertically center the image and button */
}

.artists-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  width: 100%; /* Ensures the grid takes full width of the container */
  box-sizing: border-box; 
}

.artist-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  max-width: 250px;
}

.artist-image {
  width: 100%;
  border-radius: 8px;
}

.filters {
  margin-bottom: 20px; /* Space below the filters */
  display: flex;
  gap: 10px; /* Space between filter items */
}

label {
  font-weight: 600;
}

.logout-button{
  border-radius: 8px;
  color: white;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #747171;
  cursor: pointer;
  transition: border-color 0.25s;
}
.logout-button:hover {
  background-color:red;
  border-color: #646cff;
}
.artist-page{
  margin: 2em;
}