:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #747171;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.container {
  width: 100%;
  min-height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* Set to 100vh to fill the viewport height */
  padding-top: 30px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Header at the top of the page */
.header {
  position: fixed;
  background-color:hsl(168, 79%, 7%);
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  z-index: 1000;
}



/* Centered title */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}

/* Auth button positioned at the top-right corner */
.auth-button {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  border-radius: 8px;
  padding: 0.6em 1.2em;
}


/* Auth button positioned at the top-right corner */
.home-button {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  border-radius: 8px;
  padding: 0.6em 1.2em;
}


.account-icon {
  width: 40px; /* Set the desired width */
  height: 40px; /* Set the desired height */
  margin-right: 10px; /* Space between the image and button */
  position: absolute;
  top: 50%;
  right: 10%;

  transform: translateY(-50%);

}

.account-info {
  display: flex;
  
  align-items: center; /* Vertically center the image and button */
}

.artists-list {
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  gap: 20px;
  width: 100%; /* Makes the grid take up the full width of the container */
}

.artist-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}

.artist-image {
  width: 100%;
  border-radius: 8px;
}



.filters {
  margin-bottom: 20px; /* Space below the filters */
  display: flex;

  gap: 10px; /* Space between filter items */
}

label {
  font-weight: 600;
}



.artist-page,
.track-page{
  margin: 1.5em 0;
}